{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": "airbnb-typescript-prettier",
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "./*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "parserOptions": {
    "extraFileExtensions": [".json"]
  },
  "rules": {
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-plusplus": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "dot-notation": "off",
    "jsx-a11y/label-has-associated-control": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
